#body {
  background-color: #f7f7f7;
  margin: 0 !important;
}
#layout-error {
  /* padding: 50px 15px;
  margin: 50px auto 0; */
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
#layout-error .logo {
  margin: 0 0 31px;
  text-align: center;
}
#layout-error .logo img {
  max-width: 100%;
}
#layout-error h1,
#layout-error h2 {
  padding: 0 0 14px;
  margin: 0 0 19px;
  font: 24px sans-serif;
  color: #333;
}
#layout-error h2 {
  font: 20px sans-serif;
}
#layout-error .page-content {
  font: 16px sans-serif;
  color: #555454;
  text-align: center;
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}



body{
    margin: 0 !important;
    padding: 0;
  }
  #layout-error{
    width: 100% !important;
    padding: 0 !important;
    height: 100dvh !important;
    margin: 0 !important;
    background-image: url("https://images.pexels.com/photos/19894377/pexels-photo-19894377/free-photo-of-flores-mesa-talheres-faqueiro.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  #layout-error #main{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #layout-error #main::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    left: 0 !important;
    top: 0 !important;
  }
  
  #layout-error #main .page-header{
    position: relative;
    z-index: 1;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
  }

  #layout-error #main .page-header .email {
    color: #fff;
    font-weight: lighter;
    font-size: 1.25rem;
    padding: 1rem;
  }
  #layout-error #main .page-header .email  i{
    margin-right: 0.5rem;
  }

  .page-content h1{
    color: white !important;
    font-size: 5rem !important;
    text-transform: uppercase;
    /* background: rgba(0, 0, 0, 0.9); */
    margin: 0;
    padding: 0;
  }

  .footer_maintenance {
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
  }

  .footer_maintenance .brands-logo {
    width: 150px;
  }
  .footer_maintenance .brands-logo img{
    width: 100%;
    height: 100px;
    object-fit: contain;
  }

  @media screen and (max-width:560px) {
    .page-content h1{
      color: white !important;
      font-size: 3rem !important;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
    }

    .footer_maintenance {
      gap: 1rem;
    }

    .footer_maintenance .brands-logo {
      width: 80px;
    }
  }